<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
    {# {% include 'head.twig' %} #}
    <body>

        <section>
            <header>

            </header>
        </section>




        <section>
            <main>
            
                <h1 class="chromatic-abberation" >{{ meta.title }}</h1>



                {{ content }}


            </main>
        </section>              
        
            {# {% include "footer.twig" %} #}
        

    </body>
</html>