/* Write your global styles here, in PostCSS syntax */

@tailwind base;

@tailwind components;

@tailwind utilities;



:root {
  --body_bg_color: white;
}

body {
    background: #f9f9f9ff;
    height: 100vh;
}
